/* Custom CSS */
.sandbox.sheet i.fa-dice-d20:before{
	/*Change all d20 icons into a 2d6 icon*/
	content: '\f522';
	font-size:14px;
}

.sandbox.sheet i.fa-file-alt:before{
  /*Change table-text-area icons into info icon*/
  content: '\f059';
  /*Change to different styling*/
  /*font-weight:900;*/
}

/*replace star with d20 for all tables*/
.sandbox.sheet .sbtable .consumable-button i.fa-star:before,
.sandbox.sheet .sbtable .rollDamage i.fa-dice-d20:before {
  content: '\f540' !important; /*f0e7 "bolt" icon*/
	font-size:18px;
}

.sandbox.sheet .new-column,
.sandbox.sheet .sheet-body {
	padding:0px;
}

.sandbox.sheet .new-column {
	padding-top:1px;
}

.sandbox.sheet input {
	font-size:14px;
}

.sandbox.sheet.actor select.skillStat {
  
}

.sandbox.sheet.actor select.skillStat,
.sandbox.sheet.actor select.skillClass {
  -webkit-appearance: none;
  -moz-appearance: none;
  height:22px;
  width: 40px;
  font-size:12px;
  border: 1px solid darkgray;
  border-radius: 2px;
  text-overflow:clip;
}

.sandbox.sheet.actor .npcMove {
	width:50%;
}

.sandbox.sheet.actor .weaponTable select.skillClass {
  width:inherit;
  margin-right: 4px;
}

.sandbox.sheet.actor .sbtable.skillTable td:nth-of-type(1),
.sandbox.sheet.actor .sbtable.skillCombatTable td:nth-of-type(1),
.sandbox.sheet.actor .sbtable.skillMagicTable td:nth-of-type(1),
.sandbox.sheet.actor .sbtable.featTable td:nth-of-type(1),
.sandbox.sheet.actor .sbtable.abilityTable td:nth-of-type(1),
.sandbox.sheet.actor .sbtable.racialTable td:nth-of-type(1),
.sandbox.sheet.actor .sbtable.spellTable td:nth-of-type(1){
  width:100%;
}

.sandbox.sheet.actor .spellTable_row {
  width:100%;
}

.sandbox.sheet.actor .tablenamecell {
  font-weight:bold;
}

.sandbox.sheet.actor .raceTable_namecell {
  text-align:center;
  font-size:16px;
}

.sandbox.sheet.actor .skillCombatTable_row tr,
.sandbox.sheet.actor .skillMagicTable_row tr,
.sandbox.sheet.actor .featTable_row tr,
.sandbox.sheet.actor .abilityTable_row tr,
.sandbox.sheet.actor .classTable_row tr,
.sandbox.sheet.actor .skillTable_row tr {
	/*border-left: 1px solid black;
	border-right: 1px solid black;*/
	border-bottom: 1px solid black;
}

.sandbox.sheet.actor .abilityTable,
.sandbox.sheet.actor .featTable,
.sandbox.sheet.actor .skillCombatTable,
.sandbox.sheet.actor .skillTable {
	margin-top: -6px;	
}

.sandbox.sheet.actor .skillMagicTable {
	margin-top: -4px;
}

.sandbox.sheet.actor .skillPanelHeader_container,
.abilityPanelHeader_container {
	margin-top: -4px;	
}

.sandbox.sheet.actor .magicPanel_row {
	margin-top: -2px;
}

.sandbox.sheet.actor .skillBonus,
.sandbox.sheet.actor .skillMagicBonus {
	min-width: 28px;
}

.sandbox.sheet.actor .spellTable {
	border-right:1px solid grey !important;
}

.sandbox.sheet.actor .spellTable_row {        
    border:none;
	display:inline-block;
}

.sandbox.sheet .sbtable tbody tr {        
	background-color: rgba(255, 255, 255, 0.25);
}

.sandbox.sheet .magicPanel_row {
	padding:0px;
	border-left:1px solid grey;
	border-bottom:1px solid grey;
}

.sandbox.sheet.actor input[type=text].abilityInput {
	height:60px;	
	width:60px;
	min-width:60px;
}

.sandbox.sheet.actor .derivedScoresPanel_row {
	min-height:32px;
}

.sandbox.sheet.actor .stat-input {
	width:26px;
	min-width:26px;
	height:26px;
}

.sandbox.sheet.actor .stat-label {
	font-weight:bold;
	font-size:14px;
}

.sandbox.sheet.actor input[type=text].stat-mod-input {
	font-weight:bold;
	font-size:18px;
	padding-top:4px;
}

.sandbox.sheet.actor .stat-mod-label {
	font-weight:bold;
	font-size:16px;
}



/* ---------------------------------------*/
/* collapsible panel PANEL_ITEMS_HEADER   */
/* ---------------------------------------*/
.vitalsRowTogglePanel,
.globalModifierTogglePanel,
.classRowTogglePanel,
.skillPanelHeader,
.skillCombatPanelHeader,
.featPanelHeader,
.abilityPanelHeader,
.magicTogglePanel,
.powerRowTogglePanel {
  background-color: #4e4d49;
  background:#4e4d49;
  position:relative;
}

/* ---------------------------------------*/
/* collapsible panel background           */
/* ---------------------------------------*/
.sandbox.sheet.actor .collapsible-panel-background{
  background-color: #4e4d49;
  background:#4e4d49;
  color: white;
  height:19px;
  white-space:nowrap;
}

/* ---------------------------------------*/
/* collapsible panel title                */
/* ---------------------------------------*/
.sandbox.sheet.actor .collapsible-panel-title{
  width:100%;
  color: white;
  padding: 1px 5px;
  font-family: Arial Narrow, sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px black;
  /*letter-spacing:1px;*/
}

/* ---------------------------------------*/
/* collapsible panel checkbox             */
/* ---------------------------------------*/
.sandbox.sheet.actor .collapsible-panel-checkbox-show{
  -webkit-filter:none;
  -webkit-appearance: none;
  appearance:none;
  content: '' ; 
  background:none;
  font-family: 'Font Awesome 5 Free';
  font-style:normal;
  font-size:14px;
  font-weight:400;
  border:1px solid #4e4d49!important;
  border-radius: 0px!important;
  margin: 0px;
  padding-top:2px;
  padding-right:10px;
  cursor:pointer;
  position:absolute;
  width:100%;
  text-align:right;
}

/*show panel*/
.sandbox.sheet.actor .collapsible-panel-checkbox-show:after {
  content: '\f150' ; /*caret-square-down*/  
}
/*hide panel*/
.sandbox.sheet.actor .collapsible-panel-checkbox-show:checked:after {
  content: '\f151';  /*caret-square-up*/ 
}

.sandbox.sheet.actor .weaponNotes,
.sandbox.sheet.actor .armorNotes,
.sandbox.sheet.actor .langName,
.sandbox.sheet.actor .Notes,
.sandbox.sheet.actor .accessoryNotes,
.sandbox.sheet.actor .renownName,
.sandbox.sheet.actor .secName {
	min-width: 100%;
	width: 100%;
	text-align:left;
	padding-left:5px;
}

.sandbox.sheet.actor .table-input.weaponNotes,
.sandbox.sheet.actor .table-input.armorNotes,
.sandbox.sheet.actor .table-input.langName,
.sandbox.sheet.actor .Notes,
.sandbox.sheet.actor .table-input.accessoryNotes,
.sandbox.sheet.actor .table-input.renownName,
.sandbox.sheet.actor .table-input.secName {
	background: rgba(0, 0, 0, 0.05);
    border: 1px solid #AAA;
    border-radius: 2px;
    height: 22px;
}

.sandbox.sheet.actor .weaponTable_namecell {
	width:35%;
}

.sandbox.sheet.actor .accessoryTable_namecell,
.sandbox.sheet.actor .armorTable_namecell {
	width:45%;
}

.sandbox.sheet.actor .renownPts {
	min-width:40px;
	width:40px;
	background:none;
}

.sandbox.sheet.actor .sbtable.langTable .langName {
	font-size:12px;	
}


.sandbox.sheet td {
	height:26px;
	max-height:26px;
	min-height:26px;
}

.sandbox.sheet.actor .sbtable.armorTable th.tableheader:nth-of-type(2),
.sandbox.sheet.actor .sbtable.featTable th.tableheader:nth-of-type(2),
.sandbox.sheet.actor .sbtable.accessoryTable th.tableheader:nth-of-type(2),
.sandbox.sheet.actor .sbtable.weaponTable th.tableheader:nth-of-type(2) {
	min-width:26px;
	width:26px;
	font-size:0px;
}

.sandbox.sheet.actor .sbtable.weaponTable th.propheader,
.sandbox.sheet.actor .sbtable.armorTable th.propheader,
.sandbox.sheet.actor .sbtable.langTable th.propheader{
	min-width:32px;
	width:32px;
	padding:2px;
}

.sandbox.sheet.actor .sbtable.langTable .langSpeak,
.sandbox.sheet.actor .sbtable.langTable .langRead,
td.centertext.langSpeak > input.langSpeak {
	max-width:32px;
	min-width:32px;
	margin:0px;
}

.sandbox.sheet.actor .table-input.minSTR,
.sandbox.sheet.actor .table-input.armorEvasion,
.sandbox.sheet.actor .table-input.armorDefense,
.sandbox.sheet.actor .table-input.skillBonus,
.sandbox.sheet.actor .table-input.weaponAccuracy,
.sandbox.sheet.actor .table-input.weaponPower, 
.sandbox.sheet.actor .table-input.weaponDamage, 
.sandbox.sheet.actor .table-input.critRate,
.sandbox.sheet.actor .table-input.classLv,
.sandbox.sheet.actor .table-input.classAdvLv,
.sandbox.sheet.actor .table-input.secNum,
.sandbox.sheet.actor .table-input.secEva,
.sandbox.sheet.actor .table-input.secDef,
.sandbox.sheet.actor .table-input.secHP,
.sandbox.sheet.actor .table-input.secHPmax,
.sandbox.sheet.actor .table-input.secMP,
.sandbox.sheet.actor .table-input.secMPmax{
	min-width: 32px;
	width: 32px;
	height: 22px;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #AAA;
    border-radius: 2px;
	font-weight: bold;
	font-size: 14px;
	margin-right:4px;
}

.sandbox.sheet .secHPmaxInput i.fa-file-alt:before,
.sandbox.sheet .secMPmaxInput i.fa-file-alt:before {
  content: '';
}

.sandbox.sheet.actor .secHPmaxInput i,
.sandbox.sheet.actor .secMPmaxInput i {
	position: relative;
	margin-left: -50px;
	margin-top: 2px;
	/*border:1px solid black;*/
	width: 38px;
	height: 18px;
}

.sandbox.sheet.actor .table-input.secNum,
.sandbox.sheet.actor .table-input.secEva,
.sandbox.sheet.actor .table-input.secDef,
.sandbox.sheet.actor .table-input.secHP,
.sandbox.sheet.actor .table-input.secHPmax,
.sandbox.sheet.actor .table-input.secMP,
.sandbox.sheet.actor .table-input.secMPmax {
	width: 40px;
}

.sandbox.sheet.actor .centertext .secHPmax,
.sandbox.sheet.actor .centertext .secMPmax {
	pointer-events:none;
	margin-left: 10px;
}

.sandbox.sheet.actor .secHPmax,
.sandbox.sheet.actor .secMPmax {
	position: relative;
}

.sandbox.sheet.actor .secHPmax:before,
.sandbox.sheet.actor .secMPmax:before {
	position:absolute;
	content: '/';
	font-weight: bold;
	font-size: 18px;
	left: 1px;
	top: 3px;
}

.sandbox.sheet.actor .classRoll,
.sandbox.sheet.actor .npcMainTab_tab  .sbtable .rollable {
	min-width: 40px;
	width: 40px;
}

.sandbox.sheet.actor .classTableAdventurer_namecell,
.sandbox.sheet.actor .classTable_namecell{
	height: 32px;
	width: 100%;
}

.sandbox.sheet.actor .transparent-row {
  background: transparent !important;
}

.sandbox.sheet.actor .classTableAdventurer {
  border-bottom: 3px solid black;
  margin-bottom: -4px;
}

.sandbox.sheet table .label-free {
	padding:0px;
}

.sandbox.sheet.actor select.accessorySlot {
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 45px !important;
  width: 45px !important;
}

.sandbox.sheet thead {
  background-color: #4e4d49;
  background:#4e4d49;
}

.sandbox.sheet .backgroundField,
.sandbox.sheet .reputationTitle,
.sandbox.sheet .exp-input {
	text-align:center;
}

.sandbox.sheet.actor .spellTable_row > .magicPanel_row {        
	display:block;
    column-count:3;
	column-gap:0px;
    -moz-column-count:3;
    -webkit-column-count:3;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

.sandbox.sheet.actor .spellTable .tablenamecell {
	font-size:12px;
}

/* ----------------------------------------- */
/* General settings for sheets(actors/items) */
/* ----------------------------------------- */
.sandbox.sheet .new-block {
  padding: 0px 0px;
  width: 100%;
  max-width:100%;
  min-width: 100%;
  display: inline; /* 2022-01-15 Added this for multipanels row sequencing made by Sandbox*/
}
.sandbox.sheet .new-multiblock{    
  display: contents;    
}
/* ----------------------------------- */
/* Widths for panels, columns, dialogs */
/* ----------------------------------- */
.sandbox.sheet [class*="1-1"]{
	width:100%;
	max-width:100%;
	min-width:100%;
}
.sandbox.sheet [class*="1-2"]{
	width:50%;
	max-width:50%;
	min-width:50%;
}
.sandbox.sheet [class*="1-3"]{
	width:33.33%;
	max-width:33.33%;
	min-width:33.33%;
}
.sandbox.sheet [class*="1-4"]{
	width:25%;
	max-width:25%;
	min-width:25%;
}
.sandbox.sheet [class*="1-6"]{
	width:16.66%;
	max-width:16.66%;
	min-width:16.66%;
}
.sandbox.sheet [class*="1-8"]{
	width:12.5%;
	max-width:12.5%;
	min-width:12.5%;
}
.sandbox.sheet [class*="3-10"]{
	width:30%;
	max-width:30%;
	min-width:30%;
}
.sandbox.sheet [class*="1-16"]{
	width:6.25%;
	max-width:6.25%;
	min-width:6.25%;
}
.sandbox.sheet [class*="3-8"]{
	width:37.5%;
	max-width:37.5%;
	min-width:37.5%;
}
.sandbox.sheet [class*="5-8"]{
	width:62.5%;
	max-width:62.5%;
	min-width:62.5%;
}
.sandbox.sheet [class*="2-3"]{
	width:66.66%;
	max-width:66.66%;
	min-width:66.66%;
}
.sandbox.sheet [class*="3-4"]{
	width:75%;
	max-width:75%;
	min-width:75%;
}
.sandbox.sheet [class*="5-6"]{
	width:83.33%;
	max-width:83.33%;
	min-width:83.33%;
}
